# Godot 4+ specific ignores
.godot/
/android/

# Ignore private notes
addons/**/*.json
addons/**/*.cfg
addons/**/*.txt
addons/**/data/

# Re-allow plugin.cfg (must go AFTER addons/**/*.cfg)
!addons/**/plugin.cfg

# Ignore builds
builds/
*.exe
*.apk
*.idsig