# Godot 4+ specific ignores
.godot/
/android/

# Allow essential addon configs
!addons/**/plugin.cfg

# Ignore private notes
addons/**/*.json
addons/**/*.cfg
addons/**/*.txt
addons/**/data/

# Ignore builds
builds/
*.exe
*.apk
*.idsig