# Godot 4+ specific ignores
.godot/
/android/

# Ignore private notes
addons/**/*.json
addons/**/*.cfg
addons/**/*.txt
addons/**/data/

# Ignore virtualjoystick
res://addons/virtual_joystick_DX/

# Ignore builds
res://builds/